<div class="ui
  <% if @client.errors.any? %>error
  <% end %> form segment">
  <%= form_for(@client) do |f| %>
      <% if @client.errors.any? %>
          <div class="ui error message">
            <div class="header"><%= pluralize(@client.errors.count, "error") %> prohibited this document from being
              saved:
            </div>
            <ul>
              <% @client.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :email_confirmation %>
        <%= f.text_field :email_confirmation %>
      </div>
      <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
      <button class="ui button teal submit">
        Create
      </button>
  <% end %>
</div>
