<h4 class="ui inverted teal block header">Create Access Code</h4>
<%= form_tag  do |f| %>
<div class="ui form segment">
  <div class="field">
    <%= collection_select(:acess_code, :client_id, Client.all, :id, :name) %>
  </div>
  <button type="submit" class="ui blue submit button">Create</button>
</div>
<% end %>
<%= link_to 'Back', documents_path %>