<div class="ui piled feed segment">
  <h2 class="ui header">
    Access Codes
  </h2>
  <% @access.each do |a|%>
  <div class="event">
    <div class="label">
      <i class="circular code icon"></i>
    </div>
    <div class="content">
      /clients/<%= a.client.id %>/<%= a.code %>
    </div>
  </div>
  <% end %>
    </div>