<h4 class="ui inverted teal block header">
  <%= @client.name %>: Documents For Acceptance
</h4>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui segment">
      <div class="ui vertical steps">
        <div class="ui step active">
          Welcome
        </div>
        <% @documents.each_with_index do |doc, i| %>
            <div class="ui <%if doc.title.length > 20 %>two line<% end %> step" data-step="<%= i %>">
              <%= doc.title %>
            </div>
        <% end %>
        <div class="ui step">
          Finished
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui segment">
      <div class="ui pointing document-tab menu" data-client="<%= @client.id %>">
        <a class="active red item" data-tab="welcome">Welcome</a>
        <% @documents.each_with_index do |doc, i| %>
            <a class="blue item" data-tab="doc-<%= i %>"><%= truncate(doc.title, length: 15) %></a>
        <% end %>
        <a class="green item" data-tab="finished">Finished</a>
      </div>
      <div class="tabs">
        <div class="ui active tab segment" data-tab="welcome">
          <h1>Welcome</h1>

          <p>Welcome to Farmington Web Design's Online Project Confirmation tool.</p>

          <p> We <b>created</b> this beautiful tool to make it easy for our clients to accept our project scopes,
            designs
            and terms without having to hassle with scanners and email and other time wasting things.</p>
          <button class="ui right labeled icon button next-button"><i class="right arrow icon"></i> Next</button>
        </div>
        <% @documents.each_with_index do |doc, i| %>
            <div class="ui tab segment document" data-tab="doc-<%= i %>">
              <form class="ui form document-sign-form" data-docid="<%= doc.id %>" data-name="<%= i %>" method="post">
                <div class="quicksigndoc doc-<%= i %>">
                  <label>Print Name:</label>
                  <%= @client.name %>,
                  <p>The above person certifies by entering their name and signing that they understand all of the
                    terms, limitations and other binding word contained herein.</p>
                </div>
                <div class="ui segment">
                  <label>Sign Name</label>

                  <div class="quicksign" data-name="<%= i %>" data-pentype="thin" data-color="#03963D" data-content="You have to sign the document.">
                    <img data-name="<%= i %>" src="/images/qsback.png"/></div>
                </div>
                <i class="ui popup"></i>
                <button class="ui right labeled icon button" type="submit">
                  <i class="right arrow icon"></i>
                  Accept
                </button>
              </form>
              <%= raw doc.rendered_document %>
            </div>
        <% end %>
        <div class="ui tab segment" data-tab="finished">
          <h1>All Done</h1>
          <p>Now that wasn't so bad, now was it. Didn't hurt a bit.</p>
          Please Rate Your Experience.
          <div class="ui huge star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>

          <div class="ui items download-docs">
            <div class="item">
            </div>
            <div class="ui active inverted dimmer">
              <div class="ui text loader">Creating PDFs...</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="quicksignwrap">
    <canvas id="quicksign"></canvas>
  </div>
