<div class="ui
  <% if @document.errors.any? %>error
  <% end %> form segment">
  <%= form_for(@document) do |f| %>
      <% if @document.errors.any? %>
          <div class="ui error message">
            <div class="header"><%= pluralize(@document.errors.count, "error") %> prohibited this document from being
              saved:
            </div>
            <ul>
              <% @document.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :document %>
        <%= f.text_area :document %>
      </div>
       <div class="field">
         <%= collection_select(:document, :client_id, Client.all, :id, :name) %>
       </div>
      <button class="ui button teal submit">
       Create
      </button>
  <% end %>
</div>
