
<label>Print Name:</label> <%= @client.name %>,
      <p>The above person certifies by entering their name and signing that they understand all of the
        terms, limitations and other binding word contained herein.</p>
<label>Sign Name</label>
<br>
<%= wicked_pdf_image_tag "/signs/document-#{@document.id}.png"%>
<h3>Signed by <%= @client.name %> on <%= @document.updated_at.strftime("%b %e, %l:%M %p") %></h3>
<%= raw @document.rendered_document %>
