<h4 class="ui inverted teal block header">
  Documents, legality with style
</h4>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui segment">
      <div class="ui vertical menu">
        <a class="active teal item">
          Signed
          <div class="ui teal label"><%= @signed %>0</div>
        </a>
        <a class="item" href="">
          Not Signed
          <div class="ui label"><%= @not_signed %>0</div>
        </a>
        <a class="item" href="<%= url_for new_document_path %>">
          New Document
        </a>
        <a class="item" href="<%= url_for new_client_path %>">
          New Client
        </a>
        <a class="item" href="<%= url_for clients_url %>">
          Clients
        </a>
        <a class="item" href="<%= url_for clients_codes_url %>">
          Access Codes
        </a>
        <a class="item" href="<%= url_for clients_access_url %>">
          Create Access Code
        </a>

      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui segment">
      <div class="ui animated list">
        <% @documents.each do |document| %>
            <div class="item">
                <img class="ui avatar image circular" src="/images/guest.png">
              <div class="content">
                <div class="header"><a href="<%= edit_document_path(document) %>"><%= document.title %></a></div>
                <%= document.updated_at.strftime("%b %e, %l:%M %p") %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

