<% @documents.each_with_index do |doc, i| %>
    <div class="item">
      <div class="content">
        <div class="name"><%= doc.title %></div>
        <p class="description"><a href="<%= doc.file_url %>" class="button">Download</a> </p>
      </div>
    </div>
<% end %>