<div class="ui form segment">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <div class="ui left labeled icon input">
          <%= f.email_field :email, :autofocus => true %>
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left labeled icon input">
          <%= f.password_field :password %>
            <i class="lock icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
          </div>
        <% if devise_mapping.rememberable? -%>
              <div class="inline field">
                <div class="ui checkbox">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              </div>
        <% end -%>
        <button class="ui teal submit button" type="submit">Log In</button>
        <br/>
        <%= render "devise/shared/links" %>
  <% end %>
  </div>
</div>
