<!DOCTYPE html>
<html>
<head>
  <title>Documents</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <style>
      header img {
          float: left;
          height:100%
      }

      header {
          padding-bottom: 25px;
          height: 100px;
          border-bottom: 4px #000000 solid;
      }
  </style>
</head>
<body>
<header>
  <%= wicked_pdf_image_tag "/images/logo.png" %>
  <h1>Farmington Web Design , Official Document</h1>
</header>
<%= yield %>
</body>
</html>
